@charset "UTF-8";
*{
	margin: 0 0;
	padding: 0 0;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
}

#top{
	background: black;
	width: 100%;
    height: 50px;
    border: 1px solid black;
    padding: 7px 0 0 20px;
    box-sizing: border-box;
}

#top p{
	display:inline-block;
	font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#top p span{
	font-size: 20px;
    font-weight: bold;
    color: #ed5f00;
}

#top ul{
	float: right;
	color: white;
	margin-right: 400px;
	padding-top: 5px;
}

#top ul li{
	float: left;
	margin-right: 5px;
	font-size: 12px;
}

#top ul li:nth-child(1){
	margin-right: 0;
}
#top ul li:nth-child(2){
	position: relative;
	bottom: 3px;
	margin-right: 20px;
}

#top ul li select{
	width: 149px;
	height: 24px;
	border: 1px solid white;
	padding: 2px 2px 2px 2px;
    font-size: 12px;
    color: white;
    background-color: #666;
}



#menu{
	width: 100%;
    height: 49px;
    background-color: #7b7b7b;
    float: left;
    padding: 0px;
}

#menu ul{
	width: 100%;
	height: 100%;
}
#menu ul li:nth-child(1){
	width: 200px;
}

#menu ul li{
	text-align:center;
	float: left;
	max-width:202px;
	min-width:160px;
	width: auto;
	height: 100%;
	border-right:1px solid black;
	box-sizing: border-box;
	padding: 11px 30px 0 30px;
	font-size: 15px;
	color: white;
	font-weight: 600;
}
#menu ul li a{
	text-decoration:none;
	color : white;
}

/* #menu ul li:nth-child(1) span{ */
/* 	background: url("../images/menuIcon.png")0 -34px; */
/* }  */

nav{
	width: 200px;
	height: auto;
	border-right: 1px solid #c9c9c9;
	float: left;
	display: block;
}

nav>div{
	border-bottom: 1px solid #c9c9c9;
}


nav>h2{
	height: 70px;
    line-height: 70px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -1px;
    text-align: center;
    color: #7b7b7b;
    background-color: #fff;
    border-bottom: 1px #c9c9c9 solid;
}

nav>h2>em{
	background: url(../images/icon_cate2.png) 0 0 no-repeat;
	width: 50px;
    height: 40px;
    margin-top: -4px;
    margin-left: -50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

#student{
	width: 200px;
}

#student>a{
	display: block;
    padding: 12px 0 10px 20px;
    font-weight: bold;
    font-size:13px;
	background: #9f9f9f;
	color: white;
}

#student>a span{
	display: inline-block;
    vertical-align: middle;
    float: right;
    width: 8px;
    height: 8px;
    margin: 5px 10px 0 0;
    font-size: 0;
    background: url(../images/btn_minus.png) 0 -8px no-repeat;
}


.user>div>ul{
	padding: 3px 10px 10px 10px;
}

#student>div>ul>li,#teacher>div>ul>li{
	font-size: 12px;
	color: #666666;
	height: 15px;
	padding-left:5px;
	margin: 10px 5px 5px 5px;
}


.user>div>ul li a{
	color: #666666;
	font-size: 12px;
}


/* .user>div>ul li a:visited{ */
/* 	color: #666666; */
/* 	font-size: 12px; */
/* } */

.user>div>ul>li>a>img{
	margin-right: 5px;
}

#teacher>a{
	display: block;
    padding: 12px 0 10px 20px;
    font-weight: bold;
    font-size:15px;
	background: #efefef;
	color: #666;
}

#teacher>a span{
	display: inline-block;
    vertical-align: middle;
    float: right;
    width: 8px;
    height: 8px;
    margin: 5px 10px 0 0;
    font-size: 0;
    background: url(../images/btn_minus.png) 0 0px no-repeat;
}

section{
	width:100%;
	padding:50px 0 0 200px;
	border-bottom: 1px solid #ddd;
}
section>h1{
	height: 51px;
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 0 10px 10px;
	font-size: 18px;
}

#main_list{
	padding: 20px;
	height:1800px;
}

#main_list div>h2{
	font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
}

.list_count{
	background: #eaeaea;
    padding: 10px 20px;
    margin: 10px 0;
    line-height: 1.5em;
    font-size: 12px;
}

#main_list table{
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 11.5px;
    border: 1px solid #d6dce7;
    text-align: center;
}

#main_list table tr th{
	background: #6f809a;
    color: #fff;
    border: 1px solid #60718b;
    font-weight: normal;
    padding: 8px 5px;
    font-size: 0.92em;
    height: 35px;
}

#main_list table tr td{
	height: 35px;
}

#main_list table tr:nth-of-type(2n){
	background: #eff3f9;
}

.table_left{
	text-align: left;
	padding-left: 5px;
	box-sizing: border-box;
}

.detail_btn{
	margin: 10px 0 30px 0;
	text-align: right;
	font-size: 12px;
}

.detail_btn a{
	display: inline-block;
    padding: 0 15px 10px 15px;
    height: 30px;
    background: #617d46;
    color: #fff;
    text-decoration: none;
    line-height: 2.4em;
    vertical-align: middle;
}
